extends /_include/_layout
append variables
  - var directory ='/ios-addressbar/'
block css
block js

block body
  main
    h1.c-title iOSアドレスバー表示テスト
    div.c-content
      section
        h2.c-title-lv2 アドレスバー
        p.c-text iOS 15デフォルトのアドレスバーは、ウインドウ下部のメニューバーと一体型になっている

        ul.c-list
          li スクロールすると縮小して表示（メニューバーは非表示）
          li 上に戻るようにスクロールするとアドレスバーとメニューバーが表示される

        p.c-text iOS 14以前のようにアドレスバーをウィンドウ上部に表示したい場合は、iPhoneの「設定」アプリで「Safari」→「タブ」の「シングルタブ」を選択することで戻せる。


