.c-pageTop {
  position: fixed;
  right: 15px;
  bottom: 55px;
  z-index: 2;

  &__button {
    display: block;
    text-decoration: none;
    background: #000;
    padding: 1em;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 3px 3px 3px rgba(#000, .3);
  }
}
